<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CRUDCroustillant</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link {{ app.request.attributes.get('_route') == 'home' ? 'active' : '' }}" href="{{ path('home') }}">Accueil
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ app.request.attributes.get('_route') == 'burgers_list' ? 'active' : '' }}" href="{{ path('burgers_list') }}">Burgers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ app.request.attributes.get('_route') == 'commentaires_list' ? 'active' : '' }}" href="{{ path('commentaires_list') }}">Commentaires</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ app.request.attributes.get('_route') == 'images_list' ? 'active' : '' }}" href="{{ path('images_list') }}">Images</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ app.request.attributes.get('_route') == 'oignons_list' ? 'active' : '' }}" href="{{ path('oignons_list') }}">Oignons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ app.request.attributes.get('_route') == 'pains_list' ? 'active' : '' }}" href="{{ path('pains_list') }}">Pains</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ app.request.attributes.get('_route') == 'sauces_list' ? 'active' : '' }}" href="{{ path('sauces_list') }}">Sauces</a>
        </li>
    </div>
  </div>
</nav>